.aboutSection{
    width: 80%;
    margin: 4em auto;
}

.aboutSection__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutSection__header>span{
    color: #b4b2c5;
}

.aboutSection__header>h2{
    color: #130f49;
    font-size: 2.7rem;
    margin-top: 0em;
    text-align: left;
    margin-bottom: .3em;
}

.aboutSection>p{
    text-align: left;
    color: #55527c;
    letter-spacing: -.03em;
}