.expertiseSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertiseSection__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertiseSection__header>span{
    color: gray;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500
}

.expertiseSection__header>h2{
    color: #130f49;
    font-size: 2.7rem;
    margin-top: 0em;
}

.expertiseSection__skills{
    display: grid;;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
}

@media (max-width:1250px) {
    .expertiseSection__skills{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}