.contactSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4em 0em;
}

.contactSection__Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 16em;
    padding: 2em 3em;
    width: 70%;
    border-radius: 2em;
    background-color: #e9f9ff;
}

.contactSection__Container__main{
    margin-top: 2em;
}

.contactSection__Container__main>span:first-child{
    font-size: .9rem;
    font-weight: 500;
    color: #b4b2c5;
}

.contactSection__Container__main>h3{
    color: #130f49;
    font-size: 1.7rem;
    margin-top: 0%;
}

.contactSection__Container__main>span:last-child{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #b4b2c5;
    justify-content: space-around;
}

.contactSection__Container__links{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.contactSection__Container__links>img{
    height: 2em;
}

.contactSection__Container__links>ul{
    display: flex;
    grid-gap: 1em;
    list-style: none;
}

.contactSection__Container__links li>a{
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-weight: 500;
}

.contactSection__Container__links li>a:hover{
    color: #34a1cd;
}