.card{
    position: relative;
}
.card>img{
    border-radius: 1em;
    width: 100%;
}

.card__container{
    opacity: 0;
    position: absolute;
    top: 10%;   
    bottom: 10%;
    left: 10%;
    right: 10%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(85 82 124 / 90%);
    color: white;
}

.card__container:hover{
    opacity: 1;
}

.card__container>h4{
    margin-top: 0em;
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    font-weight: 400;
}

.card__container>span{
    color: #f66565;
    border: 2px solid #f66565;
    border-radius: 1em;
    font-size: .8rem;
    padding: 1em 1.3em;
    cursor: pointer;
}
