.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.nav__logo{
    height: 1.5em;
}

.nav__menu{
    flex-basis: 25%;
    display: flex;
    grid-gap: 2em;
    justify-content: space-between;
}
.nav__menu>li{
    list-style: none;
}
.nav__menu a{
    text-decoration: none;
    color: #130f49;
    font-size: .8rem;
    font-weight: 500;
}
.nav__menu a:hover{
    color: #34a1cd;
}

.nav__links{
    flex-basis: 15%;
    display: flex;
    justify-content: space-between;
    grid-gap: 1em;
}
.nav__links img{
    height: 1.8em;
}