.Portfolio{
   margin: 3em 0em; 
}

.Portfolio__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.Portfolio__header__heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Portfolio__header__heading>span{
    color: #b4b2c5;
}

.Portfolio__header__heading>h2{
    color: #130f49;
    font-size: 2.7rem;
    margin-top: 0em;
}

.Portfolio__header__callForAction{
    display: inline-flex ;   
    align-items: center;
    font-size: 1.2rem;
}

.Portfolio__header__callForAction__tag{
    font-size: .7rem;
    padding: .4em .8em;
    color: aliceblue;
    background-color: #ea4c89;
    border-radius: .7em;
    margin-right: 1em;
}

.Portfolio__header__callForAction>span>span{
    color:#ea4c89;
}

.Portfolio__header__callForAction>img{
    height: 1.5em;
}

/* projects */
.Portfolio__projects{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3,18em);
    grid-template-rows: repeat(2,18em);
    align-items: center;
    justify-content: center;
}

@media (max-width:1250px) {
    .Portfolio__header{
        justify-content: flex-start;
        margin-left: 1em;
        text-align: left;
    }
    .Portfolio__header__callForAction{
        display: none;
    }
    .Portfolio__projects{
        grid-template-columns: 18em 18em;
    }
}

@media (max-width:800px) {
    .Portfolio__projects{
        grid-template-columns: 18em;
    }
}